body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 15svw 85svw;
    grid-template-rows: 20svh 80svh;
}

header {
    grid-column: 2/2;
    grid-row: 1/1;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.438);
    z-index: 1;
    display: grid;    
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.search_div{
    grid-column: 1/1;
    grid-row: 1/1;
}

.profile_div{
    grid-column: 2/2;
    grid-row: 1/1;
    display: flex;
}

.welcome_div{
    grid-column: 1/1;
    grid-row: 2/2;
    display: flex;
}

.buttons_div{
    grid-column: 2/2;
    grid-row: 2/2;
    display: flex;
    justify-content: space-around;
}



.search_icon{
    width: 30px;
}

.profile_icon{
    width: 50px;
    fill: url(Assets/raorapf.png);
}

.welcome_profile_icon{
    width: 50px;
    fill: url(Assets/raorapf.png);
}

input{
    background-color: lightgray;
    border-radius: 20px;
    width: 400px;
    height: 20px;
    border: none;
}

#sidebar {
    grid-column: 1/1;
    grid-row: 1/2;
    background-color: #0ea5e9;
    height: 100svh;
}

#sidebar > p{
    color: white;
}

.sidebar_icons {
    width: 30px;
    fill: white;
}

main {
    grid-column: 2/2;
    grid-row: 2/2;
    background-color: rgb(209, 209, 209)
}

.projects_divs{
    background-color: white;
}